<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Book Ticket</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="form-box d-flex flex-wrap gap-4">
                <div class="from-station">
                    <label for="">From Station</label> <br>
                    <input type="text" placeholder="please select station">
                </div>
                <div class="to-station">
                    <label for="">To Station</label> <br>
                    <input type="text" placeholder="please select station">
                </div>
                <div class="date">
                    <label for="">Date Of Travel</label> <br>
                    <input type="date">
                </div>
            </div>
            <div class="btn-cont text-center mt-5">
                <button class="btn bg-primary" (click)="fetchData()">Search</button>
            </div>
        </div>

        <div class="col-7">
            <img src="assets\images\train.jpg" alt="train-img" class="img-fluid">
        </div>
    </div>
</div>
